aiohttp==3.8.1
aiosignal==1.2.0
async-timeout==4.0.2
attrs==21.4.0
charset-normalizer==2.0.9
click==8.0.3
feedparser==6.0.8
frozenlist==1.2.0
idna==3.3
joblib==1.1.0
multidict==6.0.1
nltk==3.6.6
python-dateutil==2.8.2
regex==2021.11.10
sgmllib3k==1.0.0
six==1.16.0
slackclient==2.9.3
textblob==0.17.1
tqdm==4.62.3
yarl==1.7.2
python-dateutil==2.8.2
